body {
	align-self: center;
	text-align: center;
	background-color: #fcf8f1;
}
.logo {
	max-width: 80%;
	max-height: 60%;
}
.btn {
	border-radius: 1.3rem;
  	width: 70%;
	font-size: 50px;
	margin-bottom: 15px;
}
.torres-link {
	background-color: #000000;
	border-color: #000000;
}
.text-column {
	max-width: 50%;
}