body {
	align-self: center;
	text-align: center;
	font-size: 3rem;
	background-color: #fcf8f1;
	color: #1d5175;
}
.logo {
	max-width: 100%;
	object-fit: contain;
}
.need-vending-image {
	max-width: 95%;
	object-fit: contain;
}
.btn {
	border-radius: 1.3rem;
  	width: 70%;
	margin-bottom: 15px;
	font-size: 3rem;
	color: #1d5175;
}
.about-us {
	background-color: #0cc0df;
}
.home {
	background-color: #0cc0df;
}
.contact-us {
	background-color: #00bf63;
}
.btn:hover{
	background-color: #ddc8a0;
}
.torres-link {
	background-color: #000000;
	border-color: #000000;
}
.text-column {
	max-width: 95%;
	padding-top: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
}